<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ScriptEngineWebService</display-name>
  <!-- Sun Web Service  Listener-->
  <listener>
    <listener-class>
  		com.sun.xml.ws.transport.http.servlet.WSServletContextListener
  	</listener-class>
  </listener>
   <!-- Script Engine Web Service Servlet Listener-->
  <listener>
    <listener-class>
    	com.scriptengine.script.servlets.listeners.ScriptEngineWSServletListener
    </listener-class>
  </listener>
  
  <!-- Job Scheduler for cleaning cache-->
  <context-param>
  	<description>Schedule Time for Job to Run After every given seconds</description>
  	<!-- Job scheduling interval -->
  	<param-name>JobInterval</param-name>
  	<!-- Cron Expression (min hour dayOfMonth Month dayOfWeek) currently keeping it to run every 30 seconds-->
  	<!-- 0 0 0/3 * * ? Every 3 hours -->
  	<!-- 0/5 * * * * ? Every 5 seconds-->
  	<param-value>0 0 0/2 * * ?</param-value>
  </context-param>
  
    <context-param>
  	<description>Time To Live For Stale Mapping in cache</description>
  	<!-- If cache contains an entry whose time stamp exceeds time to live it will be removed-->
  	<param-name>TimeToLive</param-name>
  	<!-- In seconds -->
  	<param-value>3600</param-value>
  </context-param>
  
  <!-- Script Engine Servlet -->
  <servlet>
    <servlet-name>ScriptingEngineWS</servlet-name>
    <servlet-class>com.scriptengine.script.servlets.ScriptEngineWSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <!-- Mapping -->
  <servlet-mapping>
    <servlet-name>ScriptingEngineWS</servlet-name>
    <url-pattern>/se</url-pattern>
  </servlet-mapping>

</web-app>